<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Formulario</title>
    </head>
    <body>
        <header>
            <div class="top-header">
                <section id="top">
                    <div class="logo"> 

                        <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                    </div>
                    <div class="form" action="#" method="GET">
                        <div class="input">Buscar productos, marcas y más <button type="submit"> <i class="fa fa-search"></i> </button></div>
                    </div>
                </section>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>

            </div>

            <nav> 
                <div class="opciones">
                
                    <ul id="lista-1">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
            
                    <ul id="lista-2">
                        <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
            </div>
           
            </nav>

            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>

        </header>
        <form action="/logear" method="POST" class="form-register">

            <input type="text" name="usuario" id="nombre" placeholder="Usuario" class="controls" required>
            <input type="text" name="password" id="usuario" placeholder="Contraseña" class="controls" required>
            <button type="submit">Logear</button>

        </form>
    </body>
</html>