<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Registro</title>
</head>
<body>
    <header>
        <div class="top-header">
            <section id="top">
                <div class="logo"> 

                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más <button type="submit"> <i class="fa fa-search"></i> </button></div>
                </div>
            </section>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>

        </div>

        <nav> 
            <div class="opciones">
            
                <ul id="lista-1">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
        
                <ul id="lista-2">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
        </div>
       
        </nav>

        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>

    </header>
        <form action="/registro" method="POST" class="form-register">
                
                
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" class="controls" required>
                
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" class="controls" required>
            
            <input type="text" name="email" id="email" placeholder="E-mail" class="controls" required>
            
            <h3>Fecha de Nacimiento</h3>
            <input type="date" name="fecha"  min="1998-01-01" max="2030-12-31" placeholder="mm/dd/yyyy" class="controls">
            

            <input type="text" name="domicilio" placeholder="Domicilio" id="domicilio" required class="controls">

            <section class="perfil">
                <h3>Perfil de Usuario</h3>
                
                <input type="radio" name="perfil" value="comprador" id="comprador">
                    <label for="comprador">Comprador</label>

                <input type="radio" name="perfil" value="vendedor" id="vendedor">
                    <label for="vendedor">Vendedor</label>
            </section>
            <section class="Interes">
                <h3>Intereses</h3>
                <input type="checkbox"name="categoria" value="Electro">
                <label for="electro">Electro</label>
                
                <input type="checkbox"name="categoria"  value="Moda">
                <label for="moda">Moda</label>

                <input type="checkbox"name="categoria" value="Hogar">
                <label for="hogar">Hogar</label>
                
                <input type="checkbox"name="categoria" value="Jugueteria">
                <label for="jugueteria">Jugueteria</label>
                
                <input type="checkbox" name="categoria" value="Vida sana">
                <label for="Vida">Vida</label>   
            </section>
            <button type="submit">Crear</button>
                
        </form>
    <footer>

    </footer>
</body>
</html>